<form class="form-horizontal" action="/books" method="POST">
  <div class="form-group">
    <label for="title" class="col-sm-3 control-label">Title</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="title" placeholder="Title">
    </div>
  </div>
  <% if defined?(author_id) %>
    <input type="hidden" name="author_id" value="<%= author_id %>">
  <% else %>
    <div class="form-group">
      <label for="author_id" class="col-sm-3 control-label">Author</label>
      <div class="col-sm-7">
        <select class="form-control" name="author_id">
          <option value="">--select--</option>
          <% @authors.each do |author| %>
            <option value="<%= author.id %>">
              <%= author.last_name %>, <%= author.first_name %>
            </option>
          <% end %>
        </select>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <label for="pages" class="col-sm-3 control-label">Page count</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="pages">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-3"></div>
    <div class="col-sm-7">
      <button type="submit" class="btn btn-default">Add Book</button>
    </div>
  </div>
</form>
